{{ define "show_phrases" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phrases</title>
    <script src="https://kit.fontawesome.com/9f53493378.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Phrases
        </h1>
        <div class="block is-flex is-flex-direction-row">
          <form role="search" method="get">
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="search" name="search" placeholder="Search" value="{{ .Search }}">
              </div>
              <div class="control">
                <button class="button is-info" tabindex="-1">Search</button>
              </div>
            </div>
          </form>
          <form method="POST" class="ml-4">
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" name="phrase" placeholder="Enter new phrase here" autofocus>
              </div>
              {{ if .PhraseError }}
              <p class="help is-danger">{{ .PhraseError }}</p>
              {{ end }}
              <div class="control">
                <button class="button is-primary" tabindex="-1">Create</button>
              </div>
            </div>
          </form>
        </div>
        <div class="block">
          <ul>
            {{ range .Phrases }}
            <li class="is-flex is-flex-direction-row is-justify-context-flex-start is-align-items-center">
              <form method="POST" action="/phrase/{{ .Id }}/delete">
                <button class="button is-small is-danger is-inverted">
                  <span class="icon is-small">
                    <i class="fa-solid fa-xmark"></i>
                  </span>
                </button>
              </form>
              <span class="ml-1">{{ .Phrase }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
{{ end }}
